.DS_Store
.idea
*.swp
Pulumi.*.yaml
stack.json
goreleaser/
bin/*

# Other cannot be downloaded, as it does not correspond to a real package.
!pkg/pulumiyaml/testing/test/testdata/other.json
pkg/pulumiyaml/testing/test/testdata/*.json

command-output/
obj/
__pycache__/
node_modules/
examples/**/package.json
examples/**/yarn.lock
examples/**/go.sum
examples/**/go.mod
